@page "/polls"
<h5>Polls</h5>

<div class="card">
    <div class="card-header">
        <h4>How many lines of code should a function have to be readable?</h4>
    </div>
    <div class="card-body row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Less than 10</h5>
                    <p class="card-text">Vote count: 0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Less than 20</h5>
                    <p class="card-text">Vote count: 0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Less than 50</h5>
                    <p class="card-text">Vote count: 0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">It doesn't matter'</h5>
                    <p class="card-text">Vote count: 0</p>
                </div>
            </div>
        </div>
    </div>

    
</div>

@code {
    
}
